<div class="scroll">
  <h3 *ngIf="sections.length === 0"><b>дані відсутні</b></h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th
        (click)="sortTable(['id'])"
        [innerHTML]="sortDirection ? 'ID &#8595;' : 'ID &#8593;'"
        class="sortArrow"
      >
      </th>
      <th
        (click)="sortTable(['sectionName'])"
        [innerHTML]="sortDirection ? 'Назва &#8595;' : 'Навза &#8593;'"
        class="sortArrow"
      >
      </th>
      <th>
        редагувати
      </th>
      <th>
        видалити
      </th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let section of sections | paginate: { itemsPerPage: itemsPerPage, currentPage: paginatorStartPageNumber }">
      <td>
        {{section.id}}
      </td>
      <td>
        {{section.sectionName}}
      </td>
      <td>
        <mat-icon *ngIf="section.id" (click)="goToSectionEditor(section)" class="pointer">
          edit
        </mat-icon>
      </td>
      <td>
        <mat-icon *ngIf="section.id" (click)="callDeletion(section.id)" class="pointer">
          delete
        </mat-icon>
      </td>
    </tr>
    </tbody>
  </table>
  <div>
    <div class="paginatorSelect">
      <small>
        рядків на сторінці:
      </small>
      <mat-select
        [(ngModel)]="itemsPerPage"
      >
        <mat-option value=5>5</mat-option>
        <mat-option value=10>10</mat-option>
        <mat-option value=15>15</mat-option>
      </mat-select>
    </div>
    <pagination-controls
      class="my-pagination"
      (pageChange)="paginatorStartPageNumber = $event"
      previousLabel="назад"
      nextLabel="уперед"
    ></pagination-controls>
  </div>
</div>

<app-deletion-confirmer
  [show]="showDeleteConfirmation"
  [option]="option"
  (confirm)="onDelete($event)"
></app-deletion-confirmer>
