<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<ng-container *ngIf="creatingForm; else loader">
  <form
    class="centerHorizontal scroll"
    [formGroup]="creatingForm"
    (ngSubmit)="onSubmit(creatingForm.value)"
  >
    <ng-container formArrayName="seats"
                  *ngFor="let seatsFormGroup of seats; index as i; last as lastGroup"
    >
      <form [formGroup]="seatsFormGroup">
        <table class="table table-striped">
          <tr>

            <td class="col-sm-3">
              <mat-form-field>
                <mat-label>частини глядацького залу...</mat-label>
                <mat-select
                  formControlName="sectionName"
                >
                  <mat-option
                    *ngFor="let sectionName of sectionNames"
                    value="{{sectionName}}">
                    {{sectionName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>

            <td class="col-sm-2">
              <mat-form-field>
                <mat-label>ряди в {{seatsFormGroup.value.sectionName}} від...</mat-label>
                <input matInput
                       type="number"
                       [min]="0"
                       formControlName="startRow"/>
              </mat-form-field>
            </td>

            <td class="col-sm-2">
              <mat-form-field>
                <mat-label>ряди в {{seatsFormGroup.value.sectionName}} до...</mat-label>
                <input matInput
                       type="number"
                       [min]="seatsFormGroup.value.startRow"
                       formControlName="lastRow"/>
              </mat-form-field>
            </td>

            <td class="col-sm-2">
              <mat-form-field>
                <mat-label>місця в рядах від ...</mat-label>
                <input matInput
                       type="number"
                       [min]="0"
                       formControlName="startSeatNumber"/>
              </mat-form-field>
            </td>

            <td class="col-sm-2">
              <mat-form-field>
                <mat-label>місця в рядах до ...</mat-label>
                <input matInput
                       type="number"
                       [min]="seatsFormGroup.value.startSeatNumber"
                       formControlName="lastSeatNumber"/>
              </mat-form-field>
            </td>

            <td class="col-sm-1">
              <mat-icon
                class="centerHorizontal pointer"
                (click)="remoVeControlsFromSeatForm(i)"
              >
                remove
              </mat-icon>
            </td>
          </tr>
        </table>
      </form>

    </ng-container>
    <div>
      <tr>
        <td [colSpan]="6">
          <mat-icon
            class="centerHorizontal pointer"
            (click)="addControlsToSeatForm()"
          >
            add
          </mat-icon>
        </td>
      </tr>
    </div>
    <div class="centerHorizontal">
      <mat-icon (click)="resetCreatingForm()">
        cancel
      </mat-icon>

      <mat-icon type="submit" [hidden]="creatingForm.invalid || submitted">
        save
      </mat-icon>
    </div>
  </form>
</ng-container>


