.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.alert-wrap {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  width: 20%;
  height: 50px;
  z-index: 1;
}

.success {
  background-color: green;
}

.warning {
  background-color: lightslategrey;
}

.danger {
  background-color: red;
}

.alert-text {
  text-align: center;
  font-family: "Roboto Condensed", Roboto, "Helvetica Neue", sans-serif;
  color: white;
  padding: 1vw;
}
