<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goToMainPage()">
      <p>Головна</p>
    </button>
    <button mat-menu-item routerLink="user">
      <p>користувачі</p>
    </button>
    <button mat-menu-item routerLink="section">
      <p>частини залу</p>
    </button>
    <button mat-menu-item routerLink="venue">
      <p>місця проведення</p>
    </button>
  </mat-menu>
  <h1>{{title}}</h1>
  <div *ngIf="auth.isAuthenticated()">
    <button mat-icon-button
            title="профіль"
            class="m-r-1"
            (click)="goToUserProfile()"
    >
      <mat-icon>person</mat-icon>
    </button>

    <button
      title="вихід"
      mat-icon-button
      class="m-r-1">
      <mat-icon (click)="auth.logOut()">logout</mat-icon>
    </button>
  </div>

</mat-toolbar>

<router-outlet></router-outlet>
