<div class="col-sm-2 m-t-1">

  <mat-icon title="додати частину глядацького залу"
    class="centerHorizontal pointer"
    [hidden]="showEditor"
    (click)="showSectionEditor(true)"
  >add</mat-icon>

  <ng-container>
    <app-auditorium-section-editor
      [section]="section"
      (hideEditor) = "showSectionEditor($event)"
      (newSection)="setSections($event)"
      *ngIf="showEditor"
    >
    </app-auditorium-section-editor>
  </ng-container>

</div>


<div class="col-sm-8 m-t-1">

  <ng-container *ngIf="sections; else loader">
    <ng-container *ngIf="sections.length > 0; else emptyListMessage">
      <app-auditorium-section-list
        (showButton)="showSectionEditor($event)"
        (idSectionToRemove)="removeSection($event)"
        [sections]="sections | search : searchValue : searchField"
      ></app-auditorium-section-list>
    </ng-container>
    <ng-template #emptyListMessage>
      <h3 class="centerHorizontal"><b>Дані відсутні</b></h3>
    </ng-template>
  </ng-container>

  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</div>

<div class="col-sm-2 m-t-1 p-r-1">
  <mat-form-field>
    <mat-label>пошук ...</mat-label>
    <input matInput
           title="nameInput"
           type="text"
           #nameInput
           [(ngModel)]="searchValue"
    >
  </mat-form-field>


  <button
    *ngIf="nameInput.value.trim().length > 0"
    mat-button color="primary"
    (click)="searchValue = ''"
  >
    скинути
  </button>
</div>


