<button mat-button color="primary"
        [ngStyle]="{marginTop:'10px'}"
        type="button"
        (click)="goToSectionEditor()"
        *ngIf="showButton">
  Додати
</button>

<div *ngIf="showButton" [ngStyle]="{float: 'right'}">

  <button
    mat-button color="primary"
    (click)="resetFiltering()"
  >
    скинути
  </button>

  <mat-form-field >
    <mat-label>пошук ...</mat-label>
    <input matInput
           title="nameInput"
           type="text"
           #nameInput
           [(ngModel)]="searchValue"
    >
  </mat-form-field>

</div>


<router-outlet></router-outlet>

<ng-container *ngIf="sectionService.sections; else loader">
  <app-auditorium-section-list
    (showButton)="setShowButton($event)"
    [sections] = "sectionService.sections | search : searchValue : searchField"
  ></app-auditorium-section-list>
</ng-container>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>


