<ng-container class="scroll" *ngIf="seatEditorForm; else loader">

  <form
    [formGroup]="seatEditorForm"
    (ngSubmit)="onSubmit(valueForSeatsGen.value)"
  >
    <div class="centerHorizontal m-a-0">
      <h4 class="formTitle m-a-0"><b>Глядацькі місця</b></h4>
    </div>

    <ng-container
      formArrayName="valueForSeatsGen"
      *ngFor="let _ of valueForSeatsGen.controls; index as i"
    >
      <form
        formGroupName="{{i}}"
      >
        <mat-form-field class="narrow m-r-1">
          <mat-label>назва залу</mat-label>
          <input
            title="назва залу"
            matInput
            type="text"
            formControlName="venueHall"
          />
        </mat-form-field>
        <mat-form-field class="narrow m-r-1">
          <mat-label>частина глядацького залу</mat-label>
          <input
            title="частина глядацького залу"
            matInput
            type="text"
            formControlName="hallSection"
          />
        </mat-form-field>
        <mat-form-field class="input_number_container m-r-1">
          <mat-label>ряд (від)</mat-label>
          <input
            title="яд (від)"
            matInput
            type="number"
            [min]="0"
            formControlName="startRow"
          />
        </mat-form-field>
        <mat-form-field class="input_number_container m-r-1">
          <mat-label>ряд (до)</mat-label>
          <input
            title="ряд (до)"
            matInput
            type="number"
            [min]="valueForSeatsGen.controls[i].value.startRow"
            formControlName="lastRow"
          />
        </mat-form-field>
        <mat-form-field class="input_number_container m-r-1">
          <mat-label>місця (від)</mat-label>
          <input
            title="місця (від)"
            matInput
            type="number"
            [min]="0"
            formControlName="startSeatNumber"
          />
        </mat-form-field>
        <mat-form-field class="input_number_container m-r-1">
          <mat-label>місця (до)</mat-label>
          <input
            title="місця (до)"
            matInput
            type="number"
            [min]="valueForSeatsGen.controls[i].value.startSeatNumber"
            formControlName="lastSeatNumber"
          />
        </mat-form-field>
        <mat-form-field class="narrow m-r-1">
          <mat-label>тип крісел</mat-label>
          <input
            title="тип крісел"
            matInput
            type="text"
            formControlName="typeOfSeat"
          />
        </mat-form-field>
        <mat-icon (click)="removeSeatsControl(i)" class="pointer">delete</mat-icon>
      </form>
    </ng-container>
    <div>
      <mat-icon
        title="додати глядацькі місця"
        (click)="addValueForSeatsGenControl()"
        class="pointer centerHorizontal"
      >
        add
      </mat-icon>
    </div>
    <button
      mat-button
      color="primary"
      class="col-sm-6"
      (click)="resetForm($event)"
    >
      скинути
    </button>

    <button
      mat-button
      color="primary"
      class="col-sm-6"
      type="submit"
    >
      зберегти
    </button>
  </form>

</ng-container>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
