<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<div *ngIf="sectionForm; else loader">

  <form [formGroup]="sectionForm">

    <small class="centerHorizontal"><b>{{createOrEditLabelName}}</b></small>

    <div class="centerHorizontal">
      <mat-form-field>
        <mat-label>назва...</mat-label>
        <input matInput
               title="for sectionName"
               type="text"
               formControlName="sectionName"
               #sectionName
        >
      </mat-form-field>

      <div class="centerHorizontal">
        <mat-icon (click)="resetSectionForm()">
          cancel
        </mat-icon>

        <mat-icon (click)="onSubmit(sectionForm.value)" [hidden]="sectionForm.invalid || submitted">
          save
        </mat-icon>
      </div>


    </div>

  </form>
</div>

