@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", Roboto, "Helvetica Neue", sans-serif;
}

div .paginatorSelect {
  float: right;
  width: 150px;
  margin-top: 1px;
  margin-right: 0;
}

div .paginatorSelect mat-select {
  font-family: "Oswald", "Roboto Condensed", sans-serif;
  font-size: 14px;
  text-align: right;
  width: 40px;
}

div .paginatorSelect small {
  font-family: "Oswald", "Roboto Condensed", sans-serif;
  font-size: 11px;
  vertical-align: 0.1em;
  color: rgba(0, 0, 0, 0.30);
  margin-top: 0;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

.my-pagination {
  z-index: 1;
  font-family: "Oswald", "Roboto Condensed", sans-serif;
  font-size: 13px;
  float: right;
  margin: 0;
}

.active:hover {
  color: gold;
}

.error {
  color: red;
}

.centerVertical {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.centerHorizontal {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.centerDiv {
  position: center;
}

.floatedRight {
  float: right;
}

.formContainer {
  border: solid grey 1px;
  transform: translate(-50%);
  padding: 10px 10px 10px 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  width: 500px;
}

.formTitle {
  font-size: large;
}

.h120 {
  height: 120px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.h200 {
  height: 250px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.sortArrow:hover {
  color: crimson;
  cursor: pointer;
}

.scroll {
  overflow: auto;
}

.wide {
  width: 100%;
}

.screenHeight {
  height: 80vh;
}

.narrow{
  width: 20%;
}

.input_number_container {
  width: 5%;
}

.z-index-n1 {
  z-index: -1;
}

@media (max-width: 510px) {
  .formContainer {
    width: 90vw;
    padding: 5px 5px 5px 5px;
  }

  .formTitle {
    font-size: medium;
  }
}

@media (max-width: 310px) {
  .formTitle {
    font-size: small;
  }
}

.dn {
  display: none;
}

p {
  text-align: center;
}

.pointer {
  cursor: pointer;
  z-index: 1;
}

mat-form-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

mat-toolbar {
  justify-content: space-between;
}

mat-toolbar span {
  font-family: "Oswald", "Roboto Condensed", sans-serif;
  font-size: large;
}

.alert {
  color: white;
  text-align: center;
}

.danger {
  background-color: red;
}

.info {
  background-color: grey;
}
